@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  src: url(../fonts/Ubuntu-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  src: url(../fonts/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  src: url(../fonts/Ubuntu-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  src: url(../fonts/Ubuntu-Bold.ttf) format('truetype');
}

html {
  font-family: 'Ubuntu', sans-serif;
  // fw 300, 400, 500, 700
  font-size: 62.5%;
  font-style: normal;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}