.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: white;

  &__welcome {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "logo title"
      ".... note";
    gap: 1rem;
  }

  &__title {
    grid-area: title;
  }

  &__logo {
    grid-area: logo;
  }

  &__note {
    grid-area: note;
    color: gray;
  }

  &__link {
    text-decoration: none;
    color: white;
  }

  &__btn {
    background-color: gray;
    border: none;
    border-radius: .3rem;
  }
}