.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  padding: 1rem;
  background-color: $header-bgc;
  color: $text-color;

  @include media(576) {
    flex-direction: row;
  }

  &__welcome {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "logo title"
      ".... note";
    gap: 1rem;
    margin-bottom: 1rem;

    @include media(576) {
      margin-bottom: 0;
    }
  }

  &__title,
  &__logo {
    @include font(2, 2, 700);
  }

  &__title {
    grid-area: title;
  }

  &__logo {
    grid-area: logo;
  }

  &__note {
    grid-area: note;
    @include font(1.5, 2, 500);
    color: $note-color;
    text-transform: lowercase;
  }

  &__autograph {
    text-decoration: none;
    color: $text-color;
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: $text-color;
  }

  &__nav {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
  }

  &__btn {
    border: none;
    border-radius: 0.3rem;
    padding: 0;
    margin: 0;
    background-color: $btn-bgc;
    transition: filter 400ms ease;

    &:hover {
      filter: brightness(1.2);
    }
  }
}
