.web {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__wallpaper {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "one" "two" "three" "four" "five";
    flex-grow: 1;

    @include media(992) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: "one two three four five";
    }
  }

  &__one,
  &__two,
  &__three,
  &__four,
  &__five {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: filter 400ms ease;

    &:hover {
      filter: brightness(1.2);
    }

    &:hover .web__slogan {
      letter-spacing: 0.5rem;
    }

    &::before {
      content: "";
      width: 110%;
      height: 96%;
      background-color: rgba($text-color, 0.1);
      transform: rotate(-15deg);
      position: absolute;
      z-index: 2;

      @include media(992) {
        width: 86%;
        height: 200%;
        transform: rotate(30deg);
      }
    }
  }

  &__one {
    grid-area: one;
    background: linear-gradient(to right, #4b6cb7, #455983);

    &:hover:before {
      background-image: url(../../images/tasty1.jpg);
      background-size: cover;
      background-position: 0 50%;

      @include media(992) {
        background-position: 40% 0;
      }
    }
  }

  &__two {
    grid-area: two;
    background: linear-gradient(to right, #02aab0, #00cdac);

    &:hover:before {
      background-image: url(../../images/tasty2.jpg);
      background-size: cover;
      background-position: 0 30%;

      @include media(992) {
        background-position: 70% 0;
      }
    }
  }

  &__three {
    grid-area: three;
    background: linear-gradient(to right, #da22ff, #9733ee);

    &:hover:before {
      background-image: url(../../images/tasty3.jpg);
      background-size: cover;
      background-position: 0 50%;

      @include media(992) {
        background-position: 10% 0;
      }
    }
  }

  &__four {
    grid-area: four;
    background: linear-gradient(to right, #f09819, #edde5d);

    &:hover:before {
      background-image: url(../../images/tasty4.jpg);
      background-size: cover;
      background-position: 0 50%;

      @include media(992) {
        background-position: 45% 0;
      }
    }
  }

  &__five {
    grid-area: five;
    background: linear-gradient(to right, #f857a6, #ff5858);

    &:hover:before {
      background-image: url(../../images/tasty5.jpg);
      background-size: cover;
      background-position: 0 50%;

      @include media(992) {
        background-position: 45% 0;
      }
    }
  }

  &__slogan {
    @include font(4, 4, 500);
    color: $text-color;
    z-index: 3;
    transition: letter-spacing 400ms ease-in-out;
  }
}
